    <div class="meta">
      <div>
        <i class="iconfont icon-date"></i>
        <span><%= app.moment(app.post.createdAt).format('YYYY-MM-DD') %></span>
      </div>
      <% if (app.post.categories.length) { %><div>
        <i class="iconfont icon-folder"></i>
        <% app.post.categories.forEach(category => { %>
        <a class="link" href="<%= app.url.categories(category.slug) %>">
          <%- app.i18n.translatable(category.name, { i18nNameObject: category }) %>
        </a>
        <% }) %>
      </div><% } %>
      <% if (app.post.tags.length) { %><div>
        <i class="iconfont icon-tag"></i>
        <% app.post.tags.forEach(tag => { %>
        <a class="link" href="<%= app.url.tags(tag.slug) %>">
          <%- app.i18n.translatable(tag.name, { i18nNameObject: tag }) %>
        </a>
        <% }) %>
      </div><% } %>
      <% if (app.post.series) { %><div>
        <i class="iconfont icon-series"></i>
        <a class="link" href="<%= app.url.series(app.post.series.slug) %>">
          <%- app.i18n.translatable(app.post.series.name, { i18nNameObject: app.post.series }) %>
        </a>
      </div><% } %>
    </div>
