<%- include('include/header') -%>
    <% app.list.forEach(post => { %><article class="post">
      <a class="link title translatable-link" href="<%= app.url.post(post) %>" <%- app.i18n.getPostLinkAttr(post) %>><%- app.i18n.translatePostTitle(post) %></a>
      <%- include('include/meta', { post }) -%>
      <%- app.i18n.translatePostExcerpt(post) %>
      <a class="read-more link translatable-link" href="<%= app.url.post(post) %>" <%- app.i18n.getPostLinkAttr(post) %>><%- app.i18n.translatable('More') %>&gt;&gt;</a>
    </article><% }) %>
    <%- include('include/paging', {
      pagingUrl (page = 0) {
        return app.url.home(page)
      }
    }) -%>
<%- include('include/footer') -%>
