<%- include('include/header') -%>
    <article class="markdown-body post page">
      <h1 class="title"><%= app.post.title %></h1>
      <%- include('include/meta') -%>
      <%- app.post.content -%>
    </article>
    <% if (app.config.theme.config.disqusShortName) { %>
    <div id="disqus_thread" class="disqus-comment" data-url="<%= app.config.site.url + app.post.url %>" data-id="<%= app.post.id %>" data-shortname="<%= app.config.theme.config.disqusShortName %>">
      <span>Disqus评论加载中</span>
    </div>
    <% } %>
<%- include('include/footer') -%>
