<%- include('include/header') -%>
    <div class="site-tags">
      <h2><%- app.i18n.translatable('Series') %></h2>
      <ul>
        <% app.list.forEach(series => { %><li>
          <a href="<%= app.url.series(series.slug) %>"><%= series.name %></a>
        </li><% }) %>
      </ul>
    </div>
    <%- include('include/paging', {
      pagingUrl (page = 0) {
        return app.url.series('', page)
      }
    }) -%>
<%- include('include/footer') -%>
