<%- include('include/header') -%>
    <div class="site-tags">
      <h2><%= app.tag.name %><span> - <%- app.i18n.translatable('Tags') %></span></h2>
      <ul>
        <% app.list.forEach(post => { %><li>
          <span class="date"><%= app.moment(post.createdAt).format('YYYY-MM-DD') %></span>
          <a class="translatable-link" href="<%= app.url.post(post) %>" <%- app.i18n.getPostLinkAttr(post) %>><%- app.i18n.translatePostTitle(post) %></a>
        </li><% }) %>
      </ul>
    </div>
    <%- include('include/paging', {
      pagingUrl (page = 0) {
        return app.url.tags(app.tag.slug, page)
      }
    }) -%>
<%- include('include/footer') -%>
